# Ahmad M. Osman - Dr. Lee, DS320

## Assignment Instructions

Follow the Pandas Cookbook textbook Chapter 1 but use this dataset for your data on housing or one of your choosing. Comment on the dataset and what you find in it. You must write the comments in your Jupyter Notebook to describe what you are doing at each step. Upload your notebook here when it is complete. Work through pages 1 - 49 and make sure you try examples with this new dataset. 

You can get some information about the dataset (what is called meta-data) here.

You must include at least two interesting things you found in the data as you worked through the information from chapter 1 of the Pandas Cookbook.

# Interesting Things I Found After Finishing the Assignment

* The data is very wide, but not deep. I remember this because of the Machine Learning session we hat at Mayo.The number of columns is huge, but that shows width not depth.
* The number of neighborhoods is 25, confirming that the data is not deep, and does not consider the COL for different areas. A model built using this data would not be successful for several reasons including this. 
* This data is of houses built up to year 2006, making it a little irrelevant if looking at prices for houses built in 2018 for example. Also, the houses are sold up between 2006 and 2010, which means that the prices needs adjustment for inflation. This is another important part of the life of a data scientist where this can be considered part of data cleaning.
* The year a house built in goes back to 1872!

# Chapter 1: Pandas Foundations

## Recipes
* [Dissecting the anatomy of a DataFrame](#Dissecting-the-anatomy-of-a-DataFrame)
* [Accessing the main DataFrame components](#Accessing-the-main-DataFrame-components)
* [Understanding data types](#Understanding-data-types)
* [Selecting a single column of data as a Series](#Selecting-a-single-column-of-data-as-a-Series)
* [Calling Series methods](#Calling-Series-methods)
* [Working with operators on a Series](#Working-with-operators-on-a-Series)
* [Chaining Series methods together](#Chaining-Series-methods-together)
* [Making the index meaningful](#Making-the-index-meaningful)
* [Renaming row and column names](#Renaming-row-and-column-names)
* [Creating and deleting columns](#Creating-and-deleting-columns)

In [345]:
# importing pandas library and numpy library
import pandas as pd
import numpy as np

# Dissecting the anatomy of a DataFrame

In [346]:
# specifying the maximum number for columns and rows
pd.set_option('max_columns', 8, 'max_rows', 10)

In [347]:
# reading the training set of the housing data in its CSV file format
housing = pd.read_csv('train.csv')

# showing the first n rows, default is five, of the housing dataset
housing.head()

,Id,MSSubClass,MSZoning,LotFrontage,...,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,...,2008,WD,Normal,208500
1,2,20,RL,80.0,...,2007,WD,Normal,181500
2,3,60,RL,68.0,...,2008,WD,Normal,223500
3,4,70,RL,60.0,...,2006,WD,Abnorml,140000
4,5,60,RL,84.0,...,2008,WD,Normal,250000

# Accessing the main DataFrame components

In [348]:
#assgining the values of the columns, indices, and data to variables

columns = housing.columns
index = housing.index
data = housing.values

In [349]:
# the column names
columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [350]:
# the range of indices
index

RangeIndex(start=0, stop=1460, step=1)

In [351]:
# the aray of data
data

array([[1, 60, 'RL', ..., 'WD', 'Normal', 208500],
       [2, 20, 'RL', ..., 'WD', 'Normal', 181500],
       [3, 60, 'RL', ..., 'WD', 'Normal', 223500],
       ...,
       [1458, 70, 'RL', ..., 'WD', 'Normal', 266500],
       [1459, 20, 'RL', ..., 'WD', 'Normal', 142125],
       [1460, 20, 'RL', ..., 'WD', 'Normal', 147500]], dtype=object)

In [352]:
# the type of the object that the index variable referencing 
type(index)

pandas.core.indexes.range.RangeIndex

In [353]:
# the type of the object that the columns variable referencing 
type(columns)

pandas.core.indexes.base.Index

In [354]:
# the type of the object that the data variable referencing 
type(data)

numpy.ndarray

In [355]:
# showing that the RangeIndex is subclass of index
issubclass(pd.RangeIndex, pd.Index)

True

## There's more

In [356]:
# Looking at the array of values the index variable has
index.values

array([   0,    1,    2, ..., 1457, 1458, 1459])

In [357]:
# Looking at the array of values the index variable has
columns.values

array(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond',
       'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir',
       'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
       'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea',
       'GarageQual', 'GarageCond', 'PavedDrive', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch',
       'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal', 'MoSold',
       'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'], dtype=object)

# Understanding data types

In [358]:
# looking at the types of data available within the housing dataset
housing.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [359]:
# counting the instances of the data types in the housing dataset
housing.get_dtype_counts()

float64     3
int64      35
object     43
dtype: int64

# Selecting a single column of data as a Series

In [360]:
# looking at a single column - I chose Neighborhood
housing['Neighborhood']

0       CollgCr
1       Veenker
2       CollgCr
3       Crawfor
4       NoRidge
         ...
1455    Gilbert
1456     NWAmes
1457    Crawfor
1458      NAmes
1459    Edwards
Name: Neighborhood, Length: 1460, dtype: object

In [361]:
# same thing as above
housing.Neighborhood

0       CollgCr
1       Veenker
2       CollgCr
3       Crawfor
4       NoRidge
         ...
1455    Gilbert
1456     NWAmes
1457    Crawfor
1458      NAmes
1459    Edwards
Name: Neighborhood, Length: 1460, dtype: object

In [362]:
# checking out the type of the Neighborhood column, should be a Series
type(housing['Neighborhood'])

pandas.core.series.Series

## There's more

In [363]:
# Saving the Series to a variable
neighborhood = housing['Neighborhood']
# Showing that the column name of the series is saved as the name attribute for this variable
neighborhood.name

'Neighborhood'

In [364]:
# Converting the variable to a data frame from a series and then showing the head of that (default is first five)
neighborhood.to_frame().head()

  Neighborhood
0      CollgCr
1      Veenker
2      CollgCr
3      Crawfor
4      NoRidge

# Calling Series methods

## Getting ready...

In [365]:
# finding the number of attributes and methods for the Series (class) data type
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

442

In [366]:
# finding the number of attributes and methods for the Data Frame (class) data type
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

445

In [367]:
# finding the number of common attributes and methods Series and Data Frame (classes) data types
len(s_attr_methods & df_attr_methods)

376

## How to do it...

In [368]:
# looking at the neighborhood and the year built for each house
neighborhood = housing['Neighborhood']
year_built = housing['YearBuilt']

In [369]:
# looking at the neighborhood head, as a Series
neighborhood.head()

0    CollgCr
1    Veenker
2    CollgCr
3    Crawfor
4    NoRidge
Name: Neighborhood, dtype: object

In [370]:
# looking at the year_built head, as a Series
year_built.head()

0    2003
1    1976
2    2001
3    1915
4    2000
Name: YearBuilt, dtype: int64

In [371]:
# counting the number of occurences for each distinct neighborhood
neighborhood.value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
          ...
MeadowV     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, Length: 25, dtype: int64

In [372]:
# counting the number of occurences for each distinct year a house was built in
# You can see that the oldest was in 1872, and that there was 67 houses
# built in the recent year of 2006
year_built.value_counts()

2006    67
2005    64
2004    54
2007    49
2003    45
        ..
1906     1
1911     1
1913     1
1917     1
1872     1
Name: YearBuilt, Length: 112, dtype: int64

In [373]:
# looking at the years the houses were sold at
housing['YrSold'].value_counts()

2009    338
2007    329
2006    314
2008    304
2010    175
Name: YrSold, dtype: int64

In [374]:
# counting the number of elements in the neighborhood series variable
# this can be done with size, shape, or len
neighborhood.size

1460

In [375]:
neighborhood.shape

(1460,)

In [376]:
len(neighborhood)

1460

In [377]:
# However, count gives the number of non-missing values
neighborhood.count()

1460

In [378]:
year_built.count()

1460

In [379]:
# There are a set of statistical functions available to use
year_built.quantile()

1973.0

In [380]:
# showing the min, max, mean, median, standard deviation, and sum for 
# the year built values
year_built.min(), year_built.max(), \
year_built.mean(), year_built.median(), \
year_built.std(), year_built.sum()

(1872, 2010, 1971.267808219178, 1973.0, 30.202904042525265, 2878051)

In [381]:
# statistical description to show the mean, standard deviation, min, max, 
# and the percentage quantiles
year_built.describe()

count    1460.000000
mean     1971.267808
std        30.202904
min      1872.000000
25%      1954.000000
50%      1973.000000
75%      2000.000000
max      2010.000000
Name: YearBuilt, dtype: float64

In [382]:
# can even describe a non-numerical value
neighborhood.describe()

count      1460
unique       25
top       NAmes
freq        225
Name: Neighborhood, dtype: object

In [383]:
# specifiyng a quantile
year_built.quantile(.2)

1947.8

In [384]:
# specifying a list of quantiles
year_built.quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9])

0.1    1924.9
0.2    1947.8
0.3    1958.0
0.4    1965.0
0.5    1973.0
0.6    1984.0
0.7    1997.3
0.8    2003.0
0.9    2006.0
Name: YearBuilt, dtype: float64

In [385]:
# returns True if a value is missing
neighborhood.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1455    False
1456    False
1457    False
1458    False
1459    False
Name: Neighborhood, Length: 1460, dtype: bool

In [386]:
# checking if the series has nans' values
year_built.hasnans
neighborhood.hasnans

False

In [387]:
# in case there was nans, the following would have filled them with 0s
year_built_filled = year_built.fillna(0)
year_built_filled.count()

neighborhood_filled = neighborhood.fillna(0)
neighborhood_filled.count()

1460

In [388]:
# in case there was nans, the following would have dropped them

year_built_filled = year_built.dropna()
year_built_filled.size

neighborhood_filled = neighborhood.dropna()
neighborhood_filled.size

1460

## There's more...

In [389]:
# normalizing values
year_built.value_counts(normalize=True)

2006    0.045890
2005    0.043836
2004    0.036986
2007    0.033562
2003    0.030822
          ...
1906    0.000685
1911    0.000685
1913    0.000685
1917    0.000685
1872    0.000685
Name: YearBuilt, Length: 112, dtype: float64

In [390]:
# checking if the series of the year_built has nans' values
year_built.hasnans

False

In [391]:
# returns True if the value is not null
year_built.notnull()

0       True
1       True
2       True
3       True
4       True
        ...
1455    True
1456    True
1457    True
1458    True
1459    True
Name: YearBuilt, Length: 1460, dtype: bool

# Working with operators on a Series

In [392]:
pd.options.display.max_rows = 6

In [393]:
# plus operator example. Adds 5 and 9
5 + 9

14

In [394]:
# exponentiation operator. Raises 4 to the second power
4 ** 2

16

In [395]:
# assignment operator.
a = 10

In [396]:
# less than or equal to operator
5 <= 9

True

In [397]:
# plus operator for strings. C
'abcde' + 'fg'

'abcdefg'

In [398]:
# not is an operator that is a reserved keyword and reverse a boolean
not (5 <= 9)

False

In [399]:
# in operator checks for membership of a list
7 in [1, 2, 6]

False

In [400]:
# finding theu nion between two sets
set([1,2,3]) & set([2,3,4])

{2, 3}

In [401]:
# this should lead to an error
[1, 2, 3] - 3

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [402]:
# this should lead to an error
a = set([1,2,3])     
a[0]                 # the indexing operator does not work with sets

TypeError: 'set' object does not support indexing

## Getting ready...

In [403]:
# looking at the sale price
sale_price = housing['SalePrice']
sale_price

0       208500
1       181500
2       223500
         ...
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [404]:
# adding 1 to each value in the sale_price series
sale_price + 1

0       208501
1       181501
2       223501
         ...
1457    266501
1458    142126
1459    147501
Name: SalePrice, Length: 1460, dtype: int64

In [405]:
# multiplying it by 2.5
sale_price * 2.5

0       521250.0
1       453750.0
2       558750.0
          ...
1457    666250.0
1458    355312.5
1459    368750.0
Name: SalePrice, Length: 1460, dtype: float64

In [406]:
# integer division of the sale price by 7
sale_price // 7

0       29785
1       25928
2       31928
        ...
1457    38071
1458    20303
1459    21071
Name: SalePrice, Length: 1460, dtype: int64

In [407]:
# finding if it is above 200K
sale_price > 200000

0        True
1       False
2        True
        ...
1457     True
1458    False
1459    False
Name: SalePrice, Length: 1460, dtype: bool

In [408]:
# looking at the different neighborhoods
neighborhood

0       CollgCr
1       Veenker
2       CollgCr
         ...
1457    Crawfor
1458      NAmes
1459    Edwards
Name: Neighborhood, Length: 1460, dtype: object

In [409]:
# is this neighborhood "Gilbert"?
neighborhood == 'Gilbert'

0       False
1       False
2       False
        ...
1457    False
1458    False
1459    False
Name: Neighborhood, Length: 1460, dtype: bool

## There's more...

In [410]:
# methods to do operations
# adding one
sale_price.add(1)

0       208501
1       181501
2       223501
         ...
1457    266501
1458    142126
1459    147501
Name: SalePrice, Length: 1460, dtype: int64

In [411]:
# multiplying by 2.5
sale_price.mul(2.5)

0       521250.0
1       453750.0
2       558750.0
          ...
1457    666250.0
1458    355312.5
1459    368750.0
Name: SalePrice, Length: 1460, dtype: float64

In [412]:
# integer division by 7
sale_price.floordiv(7)

0       29785
1       25928
2       31928
        ...
1457    38071
1458    20303
1459    21071
Name: SalePrice, Length: 1460, dtype: int64

In [413]:
# great than 200K
sale_price.gt(200000)

0        True
1       False
2        True
        ...
1457     True
1458    False
1459    False
Name: SalePrice, Length: 1460, dtype: bool

In [414]:
# is it "Gilbert" neighborhood?
neighborhood.eq('Gilbert')

0       False
1       False
2       False
        ...
1457    False
1458    False
1459    False
Name: Neighborhood, Length: 1460, dtype: bool

In [415]:
# converting the sale_price values to int and then doing a mod operation on it, the reminder is given for each column
sale_price.astype(int).mod(200000)

0         8500
1       181500
2        23500
         ...
1457     66500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [416]:
# assigning a value of type
a = type(1)

In [417]:
# showing the type of variable a, which itself is type
type(a)

type

In [418]:
# storing the type of sale_price in var a
a = type(sale_price)

In [419]:
# showing that it is a Series
a

pandas.core.series.Series

# Chaining Series methods together

In [420]:
# counting the number of occurrences of values for year_built and showing 3 rows of that
year_built.value_counts().head(3)

2006    67
2005    64
2004    54
Name: YearBuilt, dtype: int64

In [421]:
# getting the count of the missing values
year_built.isnull().sum()

0

In [422]:
# what is the data type of year_built
year_built.dtype

dtype('int64')

In [423]:
# filling in any missing values - which they are not, but just for the sake of explaining - and making its type int
# and then showing five rows
year_built.fillna(0)\
                .astype(int)\
                .head()

0    2003
1    1976
2    2001
3    1915
4    2000
Name: YearBuilt, dtype: int64

## There's more...

In [424]:
# getting the percentage of values that are missing - 0.0% since non are missing
year_built.isnull().mean()

0.0

# Making the index meaningful

In [425]:
# we already know this
housing.shape

(1460, 81)

In [426]:
# setting the index value as the sale price for each row
housing2 = housing.set_index('SalePrice')
housing2

,Id,MSSubClass,MSZoning,LotFrontage,...,MoSold,YrSold,SaleType,SaleCondition
SalePrice,,,,,,,,,
208500,1,60,RL,65.0,...,2,2008,WD,Normal
181500,2,20,RL,80.0,...,5,2007,WD,Normal
223500,3,60,RL,68.0,...,9,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...
266500,1458,70,RL,66.0,...,5,2010,WD,Normal
142125,1459,20,RL,68.0,...,4,2010,WD,Normal
147500,1460,20,RL,75.0,...,6,2008,WD,Normal

In [427]:
# alternatively, we could have done the same thing at the beginning
pd.read_csv('train.csv', index_col='SalePrice')

,Id,MSSubClass,MSZoning,LotFrontage,...,MoSold,YrSold,SaleType,SaleCondition
SalePrice,,,,,,,,,
208500,1,60,RL,65.0,...,2,2008,WD,Normal
181500,2,20,RL,80.0,...,5,2007,WD,Normal
223500,3,60,RL,68.0,...,9,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...
266500,1458,70,RL,66.0,...,5,2010,WD,Normal
142125,1459,20,RL,68.0,...,4,2010,WD,Normal
147500,1460,20,RL,75.0,...,6,2008,WD,Normal

# There's more...

In [428]:
# undoing what we just did - the SalePrice is not the index any more...
housing.reset_index()

,index,Id,MSSubClass,MSZoning,...,YrSold,SaleType,SaleCondition,SalePrice
0,0,1,60,RL,...,2008,WD,Normal,208500
1,1,2,20,RL,...,2007,WD,Normal,181500
2,2,3,60,RL,...,2008,WD,Normal,223500
...,...,...,...,...,...,...,...,...,...
1457,1457,1458,70,RL,...,2010,WD,Normal,266500
1458,1458,1459,20,RL,...,2010,WD,Normal,142125
1459,1459,1460,20,RL,...,2008,WD,Normal,147500

# Renaming row and column names

In [429]:
# I want the index to be called Neighborhood now
housing = pd.read_csv('train.csv', index_col='Neighborhood')
housing

,Id,MSSubClass,MSZoning,LotFrontage,...,YrSold,SaleType,SaleCondition,SalePrice
Neighborhood,,,,,,,,,
CollgCr,1,60,RL,65.0,...,2008,WD,Normal,208500
Veenker,2,20,RL,80.0,...,2007,WD,Normal,181500
CollgCr,3,60,RL,68.0,...,2008,WD,Normal,223500
...,...,...,...,...,...,...,...,...,...
Crawfor,1458,70,RL,66.0,...,2010,WD,Normal,266500
NAmes,1459,20,RL,68.0,...,2010,WD,Normal,142125
Edwards,1460,20,RL,75.0,...,2008,WD,Normal,147500

In [430]:
# we can also change the indices' names and the columns' names
# a dictionary of the old value being treated as a key to the new value
# The index value of CollgCr would change to WasCollgCr
# The column name of SalePrice would change to 'Sold At This Price'
idx_rename = {'CollgCr':'WasCollgCr'} 
col_rename = {'SalePrice':'Sold At This Price'}

In [431]:
housing.rename(index=idx_rename, 
             columns=col_rename).head()

,Id,MSSubClass,MSZoning,LotFrontage,...,YrSold,SaleType,SaleCondition,Sold At This Price
Neighborhood,,,,,,,,,
WasCollgCr,1,60,RL,65.0,...,2008,WD,Normal,208500
Veenker,2,20,RL,80.0,...,2007,WD,Normal,181500
WasCollgCr,3,60,RL,68.0,...,2008,WD,Normal,223500
Crawfor,4,70,RL,60.0,...,2006,WD,Abnorml,140000
NoRidge,5,60,RL,84.0,...,2008,WD,Normal,250000

# There's more

In [432]:
# can also be done as if it is a list
housing = pd.read_csv('train.csv', index_col='Neighborhood')
index = housing.index
columns = housing.columns

index_list = index.tolist()
column_list = columns.tolist()

index_list

index_list[0] = 'WasCollgCr'
index_list[1] = 'WasVeenker'
column_list[79] = 'Sold At This Price'

In [433]:
# showing changes to the first two
print(index_list[:5])

['WasCollgCr', 'WasVeenker', 'CollgCr', 'Crawfor', 'NoRidge']

In [434]:
# you can see the last column value changing too!
print(column_list)

['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'Sold At This Price']

In [435]:
# we can save the index and columns for the housing series now
housing.index = index_list
housing.columns = column_list

In [436]:
housing.head()

,Id,MSSubClass,MSZoning,LotFrontage,...,YrSold,SaleType,SaleCondition,Sold At This Price
WasCollgCr,1,60,RL,65.0,...,2008,WD,Normal,208500
WasVeenker,2,20,RL,80.0,...,2007,WD,Normal,181500
CollgCr,3,60,RL,68.0,...,2008,WD,Normal,223500
Crawfor,4,70,RL,60.0,...,2006,WD,Abnorml,140000
NoRidge,5,60,RL,84.0,...,2008,WD,Normal,250000

# Creating and deleting columns

In [437]:
housing = pd.read_csv('train.csv')

In [438]:
housing.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [439]:
housing["1stFlrSF"]

0        856
1       1262
2        920
        ...
1457    1188
1458    1078
1459    1256
Name: 1stFlrSF, Length: 1460, dtype: int64

In [440]:
housing["2ndFlrSF"]

0        854
1          0
2        866
        ...
1457    1152
1458       0
1459       0
Name: 2ndFlrSF, Length: 1460, dtype: int64

In [447]:
# Lets add the first floor square feet and the second floor square feet into a new column
housing['FloorsSF'] = (housing["1stFlrSF"]+housing["2ndFlrSF"])

In [445]:
housing['FloorsSF']

0       1710
1       1262
2       1786
        ...
1457    2340
1458    1078
1459    1256
Name: FloorsSF, Length: 1460, dtype: int64

In [446]:
housing

,Id,MSSubClass,MSZoning,LotFrontage,...,SaleType,SaleCondition,SalePrice,FloorsSF
0,1,60,RL,65.0,...,WD,Normal,208500,1710
1,2,20,RL,80.0,...,WD,Normal,181500,1262
2,3,60,RL,68.0,...,WD,Normal,223500,1786
...,...,...,...,...,...,...,...,...,...
1457,1458,70,RL,66.0,...,WD,Normal,266500,2340
1458,1459,20,RL,68.0,...,WD,Normal,142125,1078
1459,1460,20,RL,75.0,...,WD,Normal,147500,1256

In [443]:
# deleting the FloorSF column
housing.drop(["FloorsSF"], axis=1)

,Id,MSSubClass,MSZoning,LotFrontage,...,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,...,2008,WD,Normal,208500
1,2,20,RL,80.0,...,2007,WD,Normal,181500
2,3,60,RL,68.0,...,2008,WD,Normal,223500
...,...,...,...,...,...,...,...,...,...
1457,1458,70,RL,66.0,...,2010,WD,Normal,266500
1458,1459,20,RL,68.0,...,2010,WD,Normal,142125
1459,1460,20,RL,75.0,...,2008,WD,Normal,147500

# Interesting Things I Found

* Found out two things, that the data is very wide, but not deep. I remember this because of the Machine Learning session we hat at Mayo.The number of columns is huge, but that shows width not depth.

* This data is of houses built up to year 2006, making it a little irrelevant if looking at prices for houses built in 2018 for example. Also, the houses are sold up between 2006 and 2010, which means that the prices needs adjustment for inflation. This is another important part of the life of a data scientist where this can be considered part of data cleaning.
* The number of neighborhoods is 25, confirming that the data is not deep, and does not consider the COL for different areas. A model built using this data would not be successful for several reasons including this. 
* The year a house built in goes back to 1872!