# Ahmad M. Osman - Dr. Lee, DS320

## Assignment Instructions

Follow the Pandas Cookbook textbook Chapter 2 but use this dataset for your data on housing or one of your choosing. Comment on the dataset and what you find in it. You must write the comments in your Jupyter Notebook to describe what you are doing at each step. Upload your notebook here when it is complete. Work through pages 52 - 87 and make sure you try examples with this new dataset. 

You can get some information about the dataset (what is called meta-data) here.

You must include at least two interesting things you found in the data as you worked through the information from chapter 2 of the Pandas Cookbook.

# Interesting Things I Found After Finishing the Assignment

* The lot area does not have a strong correlation with the sale price, however, the garage area has a moderate correlation of 0.623 to the sale price.
* The data is focused on houses with an average price of 180K, with the highest price bein 800K, which makes me think that these houses are located in a suburb town/area.

# Chapter 2: Essential DataFrame Operations

## Recipes
* [Selecting multiple DataFrame columns](#Selecting-multiple-DataFrame-columns)
* [Selecting columns with methods](#Selecting-columns-with-methods)
* [Ordering column names sensibly](#Ordering-column-names-sensibly)
* [Operating on the entire DataFrame](#Operating-on-the-entire-DataFrame)
* [Chaining DataFrame methods together](#Chaining-DataFrame-methods-together)
* [Working with operators on a DataFrame](#Working-with-operators-on-a-DataFrame)
* [Comparing missing values](#Comparing-missing-values)
* [Transposing the direction of a DataFrame operation](#Transposing-the-direction-of-a-DataFrame-operation)
* [MISC](#MISC)

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 40

# Selecting multiple DataFrame columns

In [3]:
housing = pd.read_csv('train.csv')

In [4]:
# specifying which columns to show - focusing on the lot
lotCols = ["LotArea", "LotShape", "LotConfig", "LandContour", "Neighborhood"]
lotHousing = housing[lotCols]

lotHousing.head()

   LotArea LotShape LotConfig LandContour Neighborhood
0     8450      Reg    Inside         Lvl      CollgCr
1     9600      Reg       FR2         Lvl      Veenker
2    11250      IR1    Inside         Lvl      CollgCr
3     9550      IR1    Corner         Lvl      Crawfor
4    14260      IR1       FR2         Lvl      NoRidge

# Selecting columns with methods

In [7]:
# how many data types in our data frame
housing.get_dtype_counts()

float64     3
int64      35
object     43
dtype: int64

In [9]:
# lets get all columns with the int data type
housing.select_dtypes(include=['int']).head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,706,0,150,856,856,854,0,1710,1,0,2,1,3,1,8,0,2,548,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,6,8,1976,1976,978,0,284,1262,1262,0,0,1262,0,1,2,0,3,1,6,1,2,460,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,7,5,2001,2002,486,0,434,920,920,866,0,1786,1,0,2,1,3,1,6,1,2,608,0,42,0,0,0,0,0,9,2008,223500
3,4,70,9550,7,5,1915,1970,216,0,540,756,961,756,0,1717,1,0,1,0,3,1,7,1,3,642,0,35,272,0,0,0,0,2,2006,140000
4,5,60,14260,8,5,2000,2000,655,0,490,1145,1145,1053,0,2198,1,0,2,1,4,1,9,1,3,836,192,84,0,0,0,0,0,12,2008,250000

In [10]:
# alll the numerical columns
housing.select_dtypes(include=['number']).head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,0,150,856,856,854,0,1710,1,0,2,1,3,1,8,0,2003.0,2,548,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,0,284,1262,1262,0,0,1262,0,1,2,0,3,1,6,1,1976.0,2,460,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,0,434,920,920,866,0,1786,1,0,2,1,3,1,6,1,2001.0,2,608,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,0,540,756,961,756,0,1717,1,0,1,0,3,1,7,1,1998.0,3,642,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,0,490,1145,1145,1053,0,2198,1,0,2,1,4,1,9,1,2000.0,3,836,192,84,0,0,0,0,0,12,2008,250000

In [11]:
# anything that has the word "Lot"
housing.filter(like='Lot').head()

   LotFrontage  LotArea LotShape LotConfig
0         65.0     8450      Reg    Inside
1         80.0     9600      Reg       FR2
2         68.0    11250      IR1    Inside
3         60.0     9550      IR1    Corner
4         84.0    14260      IR1       FR2

In [12]:
# filtering based on regex, any instance of a digit in a column name will be projected
movie.filter(regex='\d').head()

,Condition1,Condition2,Exterior1st,Exterior2nd,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,1stFlrSF,2ndFlrSF,3SsnPorch
0,Norm,Norm,VinylSd,VinylSd,GLQ,706,Unf,0,856,854,0
1,Feedr,Norm,MetalSd,MetalSd,ALQ,978,Unf,0,1262,0,0
2,Norm,Norm,VinylSd,VinylSd,GLQ,486,Unf,0,920,866,0
3,Norm,Norm,Wd Sdng,Wd Shng,ALQ,216,Unf,0,961,756,0
4,Norm,Norm,VinylSd,VinylSd,GLQ,655,Unf,0,1145,1053,0

# Ordering column names sensibly

In [13]:
housing.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [14]:
# grouping colums together into categories

quality = ["OverallQual", "OverallCond", "BsmtCond", "GarageCond", "GarageQual"]
sale = ["MoSold", "YrSold", "SaleType", "SaleCondition", "SalePrice"]
garage = ["GarageType", "GarageYrBlt", "GarageFinish", "GarageCars", "GarageArea"]
bsmt = ["BsmtQual", "BsmtCond", "BsmtExposure", "BsmtFinType1", "BsmtFinSF1", "BsmtFinType2", "BsmtFinSF2", "BsmtUnfSF", "TotalBsmtSF"]

In [21]:
# lets arrange the columns order
new_col_order = quality + sale + garage + bsmt

# they are not alike
set(housing.columns) == set(new_order)

False

In [23]:
# looks way nicer now!
housing2 = housing[new_col_order]
housing2.head()

,OverallQual,OverallCond,BsmtCond,GarageCond,GarageQual,MoSold,YrSold,SaleType,SaleCondition,SalePrice,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF
0,7,5,TA,TA,TA,2,2008,WD,Normal,208500,Attchd,2003.0,RFn,2,548,Gd,TA,No,GLQ,706,Unf,0,150,856
1,6,8,TA,TA,TA,5,2007,WD,Normal,181500,Attchd,1976.0,RFn,2,460,Gd,TA,Gd,ALQ,978,Unf,0,284,1262
2,7,5,TA,TA,TA,9,2008,WD,Normal,223500,Attchd,2001.0,RFn,2,608,Gd,TA,Mn,GLQ,486,Unf,0,434,920
3,7,5,Gd,TA,TA,2,2006,WD,Abnorml,140000,Detchd,1998.0,Unf,3,642,TA,Gd,No,ALQ,216,Unf,0,540,756
4,8,5,TA,TA,TA,12,2008,WD,Normal,250000,Attchd,2000.0,RFn,3,836,Gd,TA,Av,GLQ,655,Unf,0,490,1145

# Operating on the entire DataFrame

In [24]:
# looking at the df dimensions
pd.options.display.max_rows = 8
housing.shape

(1460, 81)

In [25]:
housing.size

118260

In [26]:
housing.ndim

2

In [27]:
len(housing)

1460

In [28]:
housing.count()

Id               1460
MSSubClass       1460
MSZoning         1460
LotFrontage      1201
                 ...
YrSold           1460
SaleType         1460
SaleCondition    1460
SalePrice        1460
Length: 81, dtype: int64

In [30]:
# Looking at min values for columns
housing.min()

Id                     1
MSSubClass            20
MSZoning         C (all)
LotFrontage           21
                  ...
YrSold              2006
SaleType             COD
SaleCondition    Abnorml
SalePrice          34900
Length: 65, dtype: object

In [31]:
# statistical descriptions
housing.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1379.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,46.549315,567.240411,1057.429452,1162.626712,346.992466,5.844521,1515.463699,0.425342,0.057534,1.565068,0.382877,2.866438,1.046575,6.517808,0.613014,1978.506164,1.767123,472.980137,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,161.319273,441.866955,438.705324,386.587738,436.528436,48.623081,525.480383,0.518911,0.238753,0.550916,0.502885,0.815778,0.220338,1.625393,0.644666,24.689725,0.747315,213.804841,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,0.000000,0.000000,334.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1900.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,223.000000,795.750000,882.000000,0.000000,0.000000,1129.500000,0.000000,0.000000,1.000000,0.000000,2.000000,1.000000,5.000000,0.000000,1961.000000,1.000000,334.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,477.500000,991.500000,1087.000000,0.000000,0.000000,1464.000000,0.000000,0.000000,2.000000,0.000000,3.000000,1.000000,6.000000,1.000000,1980.000000,2.000000,480.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,0.000000,808.000000,1298.250000,1391.250000,728.000000,0.000000,1776.750000,1.000000,0.000000,2.000000,1.000000,3.000000,1.000000,7.000000,1.000000,2002.000000,2.000000,576.000000,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,2336.000000,6110.000000,4692.000000,2065.000000,572.000000,5642.000000,3.000000,2.000000,3.000000,2.000000,8.000000,3.000000,14.000000,3.000000,2010.000000,4.000000,1418.000000,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [32]:
pd.options.display.max_rows = 10

In [34]:
# more statistical descriptions
housing.describe(percentiles=[.01, .3, .99])

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1379.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,46.549315,567.240411,1057.429452,1162.626712,346.992466,5.844521,1515.463699,0.425342,0.057534,1.565068,0.382877,2.866438,1.046575,6.517808,0.613014,1978.506164,1.767123,472.980137,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,161.319273,441.866955,438.705324,386.587738,436.528436,48.623081,525.480383,0.518911,0.238753,0.550916,0.502885,0.815778,0.220338,1.625393,0.644666,24.689725,0.747315,213.804841,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,0.000000,0.000000,334.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1900.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
1%,15.590000,20.000000,21.000000,1680.000000,3.000000,3.000000,1899.180000,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,520.000000,0.000000,0.000000,692.180000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,3.000000,0.000000,1916.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,61815.970000
30%,438.700000,20.000000,60.000000,8063.700000,5.000000,5.000000,1958.000000,1971.000000,0.000000,0.000000,0.000000,280.000000,840.000000,915.700000,0.000000,0.000000,1208.000000,0.000000,0.000000,1.000000,0.000000,3.000000,1.000000,6.000000,0.000000,1965.000000,1.000000,384.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,135500.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,477.500000,991.500000,1087.000000,0.000000,0.000000,1464.000000,0.000000,0.000000,2.000000,0.000000,3.000000,1.000000,6.000000,1.000000,1980.000000,2.000000,480.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
99%,1445.410000,190.000000,141.000000,37567.640000,10.000000,9.000000,2009.000000,2009.000000,791.920000,1572.410000,830.380000,1797.050000,2155.050000,2219.460000,1418.920000,360.000000,3123.480000,2.000000,1.000000,3.000000,1.000000,5.000000,2.000000,11.000000,2.000000,2009.000000,3.000000,1002.790000,505.460000,285.820000,261.050000,168.000000,268.050000,0.000000,700.000000,12.000000,2010.000000,442567.010000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,2336.000000,6110.000000,4692.000000,2065.000000,572.000000,5642.000000,3.000000,2.000000,3.000000,2.000000,8.000000,3.000000,14.000000,3.000000,2010.000000,4.000000,1418.000000,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [35]:
pd.options.display.max_rows = 8

In [37]:
# where do we have null entries?! And how many of them?
housing.isnull().sum()

# a lot in the LotFrontage I guess...

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
                ...
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

## There's more...

In [39]:
# do we have NaN values?!
housing.min(skipna=False)

Id                     1
MSSubClass            20
MSZoning         C (all)
LotFrontage          NaN
                  ...
YrSold              2006
SaleType             COD
SaleCondition    Abnorml
SalePrice          34900
Length: 65, dtype: object

# Chaining DataFrame methods together

In [41]:
# figuring out nulls continued
housing.isnull().head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,...,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False

In [42]:
housing.isnull().sum().head()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage    259
LotArea          0
dtype: int64

In [43]:
housing.isnull().sum().sum()

6965

In [45]:
# do we have any? Oh yeah!
housing.isnull().any().any()

True

## How it works...

In [46]:
# null values figuring continued
housing.isnull().get_dtype_counts()

bool    81
dtype: int64

## There's more...

In [47]:
# lets fix those?
housing.select_dtypes(["object"]).fillna("").min()

MSZoning         C (all)
Street              Grvl
Alley
LotShape             IR1
                  ...
Fence
MiscFeature
SaleType             COD
SaleCondition    Abnorml
Length: 43, dtype: object

In [48]:
housing.select_dtypes(["object"]).fillna("").max()

MSZoning              RM
Street              Pave
Alley               Pave
LotShape             Reg
                  ...
Fence               MnWw
MiscFeature         TenC
SaleType              WD
SaleCondition    Partial
Length: 43, dtype: object

# Working with operators on a DataFrame

## Getting ready...

In [49]:
# lets play with the numbers
garage_year = housing["GarageYrBlt"]
garage_year

0       2003.0
1       1976.0
2       2001.0
3       1998.0
         ...
1456    1978.0
1457    1941.0
1458    1950.0
1459    1965.0
Name: GarageYrBlt, Length: 1460, dtype: float64

In [52]:
(garage_year.head() + .00501) // .01

0    200300.0
1    197600.0
2    200100.0
3    199800.0
4    200000.0
Name: GarageYrBlt, dtype: float64

In [57]:
# some rounding?!
# the numbers are not helping showing the effect, but it is implicitly
# understood
garage_year_round = (garage_year + .00501) // .01 / 100
garage_year_round.head()

0    2003.0
1    1976.0
2    2001.0
3    1998.0
4    2000.0
Name: GarageYrBlt, dtype: float64

In [54]:
garage_year_round = (garage_year + .00001).round(2)
garage_year_round.head()

0    2003.0
1    1976.0
2    2001.0
3    1998.0
4    2000.0
Name: GarageYrBlt, dtype: float64

In [55]:
.045 + .005

0.049999999999999996

In [56]:
garage_year_round.equals(garage_year)

True

# Comparing missing values

In [58]:
# looking at NaN 
np.nan == np.nan

False

In [59]:
None == None

True

In [60]:
5 > np.nan

False

In [61]:
np.nan > 5

False

In [62]:
5 != np.nan

True

In [66]:
# comparisons
garage_year.head() == 1990

0    False
1    False
2    False
3    False
4    False
Name: GarageYrBlt, dtype: bool

In [67]:
garage_year.isnull().sum()

81

In [68]:
garage_year_round == garage_year

0       True
1       True
2       True
3       True
        ...
1456    True
1457    True
1458    True
1459    True
Name: GarageYrBlt, Length: 1460, dtype: bool

# Transposing the direction of a DataFrame operation

In [72]:
# counting colums
# this is not perfect for our data...
housing.count(axis="columns").head()

0    76
1    77
2    77
3    77
4    77
dtype: int64

In [74]:
# summing them
housing.sum(axis="columns").head()

0    231062.0
1    204978.0
2    249155.0
3    163499.0
4    280612.0
dtype: float64

In [75]:
sale_price = housing["SalePrice"]

In [77]:
# is the sale price greater than or equal to
sale_price.ge(100000)

0       True
1       True
2       True
3       True
        ...
1456    True
1457    True
1458    True
1459    True
Name: SalePrice, Length: 1460, dtype: bool

In [79]:
# they're getting expensive, you know...
# how many is there that the sale price of was greater than 450K?
sale_price.ge(450000).sum()

14

## There's more

In [84]:
sale_price.ge(250000).sum()

225

In [87]:
# Now lets see the highest ten
housing.max(axis=1).sort_values(ascending=False).head(10)

691     755000.0
1182    745000.0
1169    625000.0
898     611657.0
          ...
440     555000.0
769     538000.0
178     501837.0
798     485000.0
Length: 10, dtype: float64

# MISC

In [72]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds_ = college.filter(like='UGDS_')
college_ugds_.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [90]:
# statistical description
sale_price.describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [94]:
# looking at correlations between Sale Price and other variables
housing["SalePrice"].corr(housing["LotArea"])

0.26384335387140573

In [95]:
# this seems like a huge factor! 
housing["SalePrice"].corr(housing["GarageArea"])

0.62343143891836172

In [96]:
housing["SalePrice"].corr(housing["LotFrontage"])

0.35179909657067809

In [97]:
housing["SalePrice"].corr(housing["YrSold"])

-0.028922585168730339

In [98]:
housing["SalePrice"].corr(housing["MoSold"])

0.046432245223819391

# Interesting Things I Found After Finishing the Assignment

* The lot area does not have a strong correlation with the sale price, however, the garage area has a moderate correlation of 0.623 to the sale price.
* The data is focused on houses with an average price of 180K, with the highest price bein 800K, which makes me think that these houses are located in a suburb town/area.